<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="KADASTER_GDS2-TEST: %5p %d{HH:mm:ss} (%C{1.}#%M:%L) - %m%n" />
        </layout>
    </appender>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="all" />
        <param name="File" value="${java.io.tmpdir}/test.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="KADASTER_GDS2-TEST: %5p %d{HH:mm:ss} (%C#%M:%L) - %m%n" />
        </layout>
    </appender>
    <logger name="nl.b3p.gds2">
        <level value="debug" />
    </logger>
    <logger name="nl.b3p.soap.logging">
        <level value="trace" />
    </logger>
    <root>
        <level value="info" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="file" />
    </root>
</log4j:configuration>
